@media (max-width: 1200px) {
    .promo {
        padding: 21px 35px 60px 35px;
        &__header {
            font-size: 40px;
        }
    }
    .advantages {
        padding: 70px 30px 65px 30px;
    }
    .consultation {
        padding: 70px 55px 78px 55px;
        min-height: 650px;
        &__descr {
            margin-top: 65px;
        }
    }
    .title_left {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            width: 220px;
            }
        &__phone {
            font-size: 16px;
            margin: 0 auto;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
        }
    }
    .promo {
        padding: 21px 25px 60px 25px;
        min-height: 620px;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 21px;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 50px;
        }
        
    }
    .advantages {
        &__item {
            margin-right: 15px;
        }
    }
    .carousel {
        &__inner {
            img {
                width: 90%;
                margin: 0 auto;                
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 0;
                margin-top: 10px;
                button {
                    margin: 0 10px;
                    border: none;
                    border-radius: 50%;
                    width: 10px;
                    height: 12px;
                    font-size: 0px;
                    background-color: #adb5bd;
                }
                .slick-active button {
                    background-color: $main-color;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 70px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 185px;
            font-size: 16px;
        }
        &__content {
            justify-content: center;
        } 
        &-item {
            margin: 0 10px 20px 10px;
        }
    }
    .comments {
        &__img {
            margin-right: 50px;
        }
        &__item {
            padding: 0 40px;
        }
        hr {
            width: 90%;
            margin: 50px auto;
        }
    }
    .footer {
        &__info {
            left: 70%;
            width: 400px;
            height: 250px;
            padding: 45px 35px 60px 35px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        min-height: 600px;
        padding-bottom: 50px;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 19px;
        }
        &__icons {
            margin-top: 60px;
            width: 378px
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: 30px;
            max-width: 250px;
            // margin-right: 30px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 80%;
            }
        }
    }
    .catalog {
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }
    .comments {
        &__img {
            margin-right: 30px;
        }
        &__item {
            padding: 0 20px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .footer {
        height: 600px;
        &__info {
            left: 50%;
            top: auto;
            bottom: 3%;
            width: 350px;
            height: 220px;
            padding: 35px 35px 60px 35px;
        }
        &__address {
            margin-bottom: 30px;
            font-size: 17px;
        }
        &__phone {
            margin-bottom: 35px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 180px;
            }
        &__phone {
            font-size: 16px;
            margin: 0 auto;
        }
    }
    .promo {
        padding: 21px 10px 60px 10px;
        &__wrapper {
            align-items:center;
            margin-top: 90px;
        }
        &__header {
            text-align: center;
            font-size: 26px;
        }
        &__subheader {
            text-align: center;
        }  
        &__icons {
            width: 360px
        }     
    }
    .title {
        font-size: 25px;
        text-align: center;
        br {
            display: none;
        }
    }
    .advantages {
        padding: 60px 0px;
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 10px;
        }
        &__item {
            margin-top: 40px;
            margin-bottom: 0;
            img {
                margin-bottom: 20px;
            }
        }
        &__subtitle {
            margin-bottom: 15px;
        }
    }
    .consultation {
        padding: 70px 25px;
        
        &__descr {
            font-size: 18px;
            margin-top: 50px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 80%;
            }
            button {
                margin: 0 5px;
            }
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__tab {
            &_p10 {
                padding: 0 10px;
            }
            &_lh30 {
                line-height: 30px;
            }
            width: 85px;
            height: 35px;
            font-size: 11px;
            line-height: 17px;
        }
        &__content {
            margin-top: 35px;
        }
    }
    .comments {
        &__img {
            margin-bottom: 35px;
            margin-right: 0;
        }
        &__item {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 10px 0 20px;
        }
        &__descr {
            font-size: 14px;
            text-align: left;
            line-height: 23px;
        }
        &__text {
            width: 90%;
            text-align: center;
        }
        hr {
            margin: 30px auto;
        }
        .title_mb70 {
            margin-bottom: 50px;
        }
    }
    .footer {
        height: 500px;
        &__info {
            width: 270px;
            height: 175px;
            padding: 30px 15px 60px 15px;
        }
        &__address {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__phone {
            margin-bottom: 20px;
            font-size: 17px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            margin: 0 10px;
            img {
                height: 20px;
            }
        }
    }
    .pageup {
        right: 2%;
        width: 40px;
        height: 40px;
    }
    .modal {
        width: 300px;
        padding: 35px 20px 25px 20px;
        &__close {
            right: -30px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
            margin-top: 15px;
        }
        .feed-form {
            width: 260px;
        }    
    }
}
